/*The main wrapper*/
#fep-wrapper {
	margin: 5px;
	position: relative;
}

#fep-menu-new_announcement {
	display: none !important;
}

/*Header styling*/
#fep-header {
	border: 1px solid #e7e7e7;
	/* color: #000000; */
	width: 100%;
}

#fep-header strong {
	/* color: #333333; */
	font-size: 20px;
}

#fep-header .avatar {
	border: none;
	display: inline-block;
	margin: 5px;
	padding: 0;
	vertical-align: top;
}

/*Content styling*/
#fep-content {
	/* color: #000000; */
	height: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	overflow: auto;
	padding: 5px;
	width: 100%;
}

#fep-content p, #fep-content form {
	margin: 5px;
}

#fep-content hr {
	margin-bottom: 5px;
	margin-top: 5px;
}

#fep-content a {
	/* color: navy; */
	text-decoration: underline;
}

#fep-content .avatar {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/*Footer styling*/
#fep-footer {
	border: 1px solid #e7e7e7;
	/* color: #333333; */
	font-size: 10px;
	text-align: center;
	width: 100%;
}

#fep-footer a,
#fep-footer a:hover,
#fep-footer a:visited {
	/* color: #333333; */
	text-decoration: underline;
}

/*Auto-suggest*/
#fep-result {
	background: #d3eef5;
	border: solid 1px #333333;
	display: none;
	position: absolute;
	width: 250px;
}

#fep-result ul,
#fep-result li {
	border: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

#fep-result li {
	border-top: solid 1px #333333;
}

#fep-result li a {
	color: #333333;
	display: block;
	font-weight: normal;
	padding: 5px;
	text-decoration: none;
}

#fep-result li a:hover {
	background: #333333;
	color: white;
}

.fep-table {
	border-collapse: collapse;
	display: table;
	width: 100%;
}

.fep-table > div {
	display: table-row;
}

.fep-table > div > div {
	display: table-cell;
}

.fep-table .fep-table-caption {
	display: table-caption;
	font-weight: bold;
	text-align: center;
}

.fep-action-table {
	margin-bottom: 10px;
}

.fep-action-table > div > div {
	width: 25%;
}

.fep-action-table select {
	margin-top: 10px;
}

.fep-table .fep-column-avatar,
.fep-table .fep-column-fep-cb {
	padding-right: 10px;
	vertical-align: middle;
}

.fep-table .fep-column-author,
.fep-table .fep-column-date {
	min-width: 150px;
}

.fep-table .fep-message-date {
	display:block;
	font-size: 70%;
}

.fep-table .fep-message-excerpt {
	opacity:0.3;
}

.fep-unread-classp {
	position:relative; 
}

.fep-unread-class {
	background-color: red; /* you could use a background image if you'd like as well */
	border-radius: 30px;
	box-shadow: 1px 1px 1px gray;
	color: white;
	font-size: 9px;
	font-weight: bold;
	height: 16px;
	line-height: 16px;
	padding: 0 1px;
	position: absolute; /* This breaks the div from the normal HTML document. */
	top: -6px;
}

.fep-message-toggle-all {
	cursor: pointer;
}

.fep-align-left {
	text-align: left;
}

.fep-align-right {
	text-align: right;
}

.fep-align-centre {
	text-align: center;
}

.fep-hd {
	display:none;
}

.fep-strong {
	font-weight: bold;
}

.fep-pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 6px;
}

.fep-pagination > li {
	display: inline;
}

.fep-pagination > li > a,
.fep-pagination > li > span {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	color: #337ab7;
	float: left;
	font-size: 12px;
	line-height: 1.42857143;
	margin-left: -1px;
	padding: 7px 12px;
	position: relative;
	text-decoration: none;
}

.fep-pagination > li:first-child > a,
.fep-pagination > li:first-child > span {
	margin-left: 0;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.fep-pagination > li:last-child > a,
.fep-pagination > li:last-child > span {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.fep-pagination > li > a:hover,
.fep-pagination > li > span:hover,
.fep-pagination > li > a:focus,
.fep-pagination >li > span:focus {
	background-color: #eeeeee;
	border-color: #dddddd;
	color: #23527c;
}

.fep-pagination > .active > a,
.fep-pagination > .active > span,
.fep-pagination > .active > a:hover,
.fep-pagination > .active > span:hover,
.fep-pagination > .active > a:focus,
.fep-pagination > .active > span:focus {
	background-color: #337ab7;
	border-color: #337ab7;
	color: #ffffff;
	cursor: default;
	z-index: 2;
}

.fep-pagination > .disabled > span,
.fep-pagination > .disabled > span:hover,
.fep-pagination > .disabled > span:focus,
.fep-pagination > .disabled > a,
.fep-pagination > .disabled > a:hover,
.fep-pagination > .disabled > a:focus {
	background-color: #ffffff;
	border-color: #dddddd;
	color: #777777;
	cursor: not-allowed;
}

#fep-message-top.fep-loading-gif,
.fep-loading-gif {
	background: url('../images/loading.gif') no-repeat right center;
	padding-right: 16px;
}

.fep-message .fep-message-title-heading,
.fep-per-message .fep-message-title {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* background-color: #f2f7fc; */
	border-radius: 10px;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 10px;
	width: 100%;
}

.fep-message .fep-message-title-heading {
	font-size: 20px;
}

.fep-message .fep-message-title-heading .fep_block_unblock_user {
	font-size: 16px;
	font-weight: normal;
}

.fep-per-message .fep-message-title {
	cursor: pointer;
	font-size: 16px;
}

.fep-per-message {
	border: 1px solid #e7e7e7;
	margin: 5px;
	padding: 5px;
}

.fep-per-message .fep-message-title .date {
	font-size: 12px;
	font-weight: normal;
	padding-left: 10px;
	text-align: right;
}

.fep-per-message .fep-message-title {
	display: flex;
	justify-content: space-between;
}

.fep-avatar-p {
	height: 60px;
	position: relative;
}

.fep-avatar-p-120 {
	min-width: 120px;
}

.fep-avatar-p-90 {
	min-width: 90px;
}

.fep-avatar-p .fep-avatar-1,
.fep-avatar-p .fep-avatar-2,
.fep-avatar-more-60,
.fep-avatar-group-60 {
	height: 60px;
	width: 60px;
}

.fep-avatar-p .fep-avatar-2 {
	left: 30px;
	position: absolute;
	top: 0;
}

.fep-avatar-more-60 {
	background: url('../images/avatar-more-60.png') no-repeat 0 0;
}

.fep-avatar-group-60 {
	background: url('../images/avatar-group-60.png') no-repeat 0 0;
}

.fep-avatar-p .fep-avatar-more-60 {
	left: 60px;
	position: absolute;
	top: 0;
}

.fep-attachments {
	border-top:1px solid #e7e7e7;
	padding: 5px;
	margin-top: 15px;
}

.fep-attachments-heading {
	font-size: 18px;
	font-weight: bold;
}

.fep-attachment-icon {
	background: transparent url('../images/attachment-icons.png') no-repeat;
	margin-right: 4px;
	height: 16px;
	width: 16px;
	display: inline-block;
}

.fep-attachment-icon.fep-attachment-icon-default {
	background-position: 0 0;
}

.fep-attachment-icon.fep-attachment-icon-generic {
	background-position: 0 -16px;
}
/* need in php */
.fep-attachment-icon.fep-attachment-icon-code {
	background-position: 0 -32px;
}

.fep-attachment-icon.fep-attachment-icon-xml {
	background-position: 0 -48px;
}

.fep-attachment-icon.fep-attachment-icon-excel {
	background-position: 0 -64px;
}

.fep-attachment-icon.fep-attachment-icon-word {
	background-position: 0 -80px;
}

.fep-attachment-icon.fep-attachment-icon-image {
	background-position: 0 -96px;
}

.fep-attachment-icon.fep-attachment-icon-psd {
	background-position: 0 -112px;
}

.fep-attachment-icon.fep-attachment-icon-ai {
	background-position: 0 -128px;
}

.fep-attachment-icon.fep-attachment-icon-archive {
	background-position: 0 -144px;
}

.fep-attachment-icon.fep-attachment-icon-text {
	background-position: 0 -160px;
}

.fep-attachment-icon.fep-attachment-icon-powerpoint {
	background-position: 0 -176px;
}

.fep-attachment-icon.fep-attachment-icon-pdf {
	background-position: 0 -192px;
}

.fep-attachment-icon.fep-attachment-icon-html {
	background-position: 0 -208px;
}

.fep-attachment-icon.fep-attachment-icon-video {
	background-position: 0 -224px;
}

.fep-attachment-icon.fep-attachment-icon-documents {
	background-position: 0 -240px;
}

.fep-attachment-icon.fep-attachment-icon-audio {
	background-position: 0 -256px;
}

.fep-attachment-icon.fep-attachment-icon-icon {
	background-position: 0 -272px;
}

#fep-menu-toggle-button {
	display: none;
}
#fep-menu-toggle-button:after {
	content: '+';
	float: right;
	margin-left: 5px;
	font-size: 24px;
	font-weight: bold;
}
#fep-menu-toggle-button.fep-menu-toggle-expanded:after {
	content: '-';
}

.fep-loader {
	cursor: wait;
	background:#ffffff url('../images/loading.gif') no-repeat center center;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	opacity: 0.75;
	position: absolute;
	z-index: 9999;
	display: none;
}

#fep-content-single {
	display: flex;
}
#fep-content-single #fep-content-single-sidebar {
	padding: 5px;
	flex: 20%;
	min-width: 150px;
}
#fep-content-single #fep-content-single-main {
	width: 100%;
}
.fep-message-head {
	cursor: pointer;
}
.fep-filter-heads-div {
	margin-top: 5px;
	margin-bottom: 10px;
}

#fep-content-single-heads .fep-message-head-active {
	border-radius: 0px 30px 30px 0px;
}

#fep-content-single-heads .fep-error {
	background-color: #ffebe8;
	border-color: #c00;
}


@media screen and (max-width: 480px) {
	.fep-table .fep-column-avatar {
		display: none;
	}

	.fep-action-table,
	.fep-action-table > div,
	.fep-action-table > div > div {
		display: block;
	}
	
	.fep-action-table > div > div {
		width: 100%;
	}
	
	#fep-menu .fep-button,
	.fep-button,
	.fep-button-active {
		width: 100%;
	}
	.fep-menu-toggle {
		display: none;
	}
	#fep-menu-toggle-button {
		display: block;
	}
	#fep-content-single #fep-content-single-sidebar {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.fep-table .fep-message-excerpt {
		display: none;
	}
}
